apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: dev
  labels: {app: user-service}
spec:
  replicas: 2
  strategy: # 추가
    type: RollingUpdate # 추가
    rollingUpdate: # 추가
      maxUnavailable: 1 # 추가: 기존 Pod 1개 먼저 종료
      maxSurge: 0 # 추가: 새 Pod 추가 없이 교체만
  selector: {matchLabels: {app: user-service}}
  template:
    metadata: {labels: {app: user-service}}
    spec:
      nodeSelector: {"eks.amazonaws.com/nodegroup": "s3j-node-app"}
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - user-service
              topologyKey: kubernetes.io/hostname
      containers:
        - name: user-service
          image: 806070027856.dkr.ecr.ap-northeast-2.amazonaws.com/sang3jeom/user-service:bc805b0967109d6287517364d8b82a2e0460fb50
          ports: [{containerPort: 8080}]
          env:
            - name: RDS_ENDPOINT
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: RDS_ENDPOINT}}
            - name: RDS_DB_NAME
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: USER_DB_NAME}} # <- 변경
            - name: DATASOURCE_USERNAME
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: USER_DB_USERNAME}} # <- 변경
            - name: DATASOURCE_PASSWORD
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: USER_DB_PASSWORD}} # <- 변경
            - name: JWT_SECRET
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: JWT_SECRET}}
            - name: JWT_EXPIRATION_MS
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: JWT_EXPIRATION_MS}}
            - name: GOOGLE_CLIENT_ID
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: GOOGLE_CLIENT_ID}}
            - name: GOOGLE_CLIENT_SECRET
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: GOOGLE_CLIENT_SECRET}}
            - name: KAKAO_CLIENT_ID
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: KAKAO_CLIENT_ID}}
            - name: KAKAO_CLIENT_SECRET
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: KAKAO_CLIENT_SECRET}}
            - name: AWS_ACCESS_KEY
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: AWS_ACCESS_KEY}}
            - name: AWS_SECRET_KEY
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: AWS_SECRET_KEY}}
            - name: S3_BUCKET
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: S3_BUCKET}}
            - name: S3_REGION
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: S3_REGION}}
            - name: AWS_REGION
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: AWS_REGION}}
            - name: BASE_URL
              valueFrom: {configMapKeyRef: {name: sang3jeom-config, key: BASE_URL}}
            - name: MAIL_USERNAME
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: GMAIL_USERNAME}}
            - name: MAIL_PASSWORD
              valueFrom: {secretKeyRef: {name: sang3jeom-secrets, key: GMAIL_APP_PASSWORD}}
          readinessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 40
            periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: dev
  labels: {app: user-service}
spec:
  selector: {app: user-service}
  ports: [{port: 8080, targetPort: 8080}]
  type: ClusterIP
